@import 'tailwindcss';

@config "../../../config/tailwind.config.js";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .btn-primary {
    @apply bg-blue-600 dark:bg-blue-400 hover:bg-blue-700 dark:hover:bg-blue-500 text-white;
  }

  .lnk-primary {
    @apply text-blue-600 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-500;
  }
  .ts-wrapper{
    @apply bg-white dark:bg-surface-950 stroke-black dark:stroke-surface-light text-black dark:text-white;
  }
  
  .ts-dropdown,
  .ts-control,
  .ts-control input {
    @apply bg-white dark:bg-surface-950 stroke-black dark:stroke-surface-light text-black dark:text-white text-base;
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
  input[type=text],input:where(:not([type])),[type=email],[type=url],[type=password],[type=number],[type=date],[type=datetime-local],[type=month],[type=search],[type=tel],[type=time],[type=week],[multiple],textarea,select {
    @apply bg-white dark:bg-surface-950 stroke-black dark:stroke-surface-light;
  }

  details{
    @apply bg-blue-200 dark:bg-blue-900 hover:bg-blue-300 dark:hover:bg-blue-800 open:bg-blue-300 dark:open:bg-blue-800 rounded-lg
  }

  
}

@theme {
  --color-surface-50: #cecdd1;
  --color-surface-100: #c0bec3;
  --color-surface-200: #b2afb5;
  --color-surface-300: #a4a1a8;
  --color-surface-400: #97939b;
  --color-surface-500: #89858e;
  --color-surface-600: #7c7882;
  --color-surface-700: #6f6b75;
  --color-surface-800: #5c5862;
  --color-surface-900: #444148;
  --color-surface-950: #2d2b30;
	--color-surface-light: #eeeef1;
	--color-surface-dark: #2d2b30;
}