<% turbostream ||= false %>
<a href="<%=url%>" title="Edit" class="stroke-blue-600 hover:stroke-blue-800 dark:stroke-blue-400 dark:hover:stroke-blue-500" 
  <% if turbostream %>
    data-turbo-stream="<%= turbostream%>"
  <% end %>
>
  <%= render 'components/icons/edit_icon', size: size %>
</a>