<div class="flex flex-wrap space-x-10">
  <div class="flex flex-row items-center space-x-5">
    <%= label_tag 'expression[operand1_type]', "Value: " %>
    <%= select_tag 'expression[operand1_type]', options_from_collection_for_select(Constants::OPERAND_TYPES, :to_s, :to_s, expression.operand1_type), {onchange: "this.form.requestSubmit();"}  %>
    <%= text_field_tag 'expression[operand1_val]', expression.operand1_val, {onchange: "this.form.requestSubmit();"}%>
  </div>
</div>