<div class="flex flex-row items-center space-x-5" data-controller="text-autosave">
  <%= label_tag "expression[#{op_type}]", "Value: ", {id: "#{expression.id}_expression_#{op_type}"} %>
  <%= select_tag "expression[#{op_type}]", 
    options_from_collection_for_select(expression.available_operand_types, :to_s, :to_s, expression.send(op_type)), 
    {onchange: "this.form.requestSubmit();", id: "#{expression.id}_expression_#{op_type}"}  %>
  <%= text_field_tag "expression[#{op_val}]", expression.send(op_val), 
    {data: {"text-autosave-target"=> "text", action: "keyup->text-autosave#debounceSubmit"}, id: "#{expression.id}_expression_#{op_val}"}%>
</div>