<div id="<%= dom_id endpoint %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= endpoint.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= endpoint.url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Project:</strong>
    <%= endpoint.project_id %>
  </p>

</div>
