<h2>Response</h2>
<%= form.fields_for :plain_response do |tform| %>
  <div class="my-5">
    <%= tform.label :content %>
    <%= tform.text_field  :content, value: response.plain_response.content, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
<%end%>
