<div class="mx-auto max-w-screen-lg w-full"
  <% if is_new_record?%>
    data-controller="text-focus"
  <% end%>
>
  <h1 class="font-bold text-4xl">
    <%= is_new_record? ? "New" : "Editing"%> endpoint
  </h1>

  <%= render "form", endpoint: @endpoint, url: endpoint_path %>

  <%= link_to "Cancel", endpoint_path(project_id: @endpoint.project.id), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
