<div id="<%= dom_id project %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= project.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Space name:</strong>
    <%= project.space_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Url preffix:</strong>
    <%= project.url_preffix %>
  </p>

</div>
