<turbo-stream action="append" target="responses">
  <template>
    <%= render 'item', response: @response%>
    <%
=begin%>
 <details class="bg-blue-300 hover:bg-blue-400 open:bg-blue-500 duration-300 rounded-lg">
      <summary class="bg-inherit px-5 py-3 cursor-pointer flex content-between justify-between">
        <% if @response.is_default? %>
          Default response
        <% else%>
          <%= "Response #{@response.order_number.to_s}"%>
        <% end%>
      </summary>
      <div class="bg-white px-5 py-3 border border-gray-300">
        <%= render "responses/form", response: @response %>
      </div>
    </details> 
<%
=end%>
  </template>
</turbo-stream>