<turbo-stream action="append" target="headers_<%= dom_id @header.response%>">
  <template>
    <div id="<%= dom_id @header%>" class="p-3 border border-gray-400 rounded-lg">
      <%= render 'form', rheader: @header, is_new_header: true%>
    </div>
  </template>
</turbo-stream>